.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-33ZNGBSlEo4U);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-iHVFlCVMjtHs);
  font-family: var(--token-IIW4cqejOqNa);
  font-size: var(--token-EynN12Octgk8);
  line-height: var(--token-y26cgEkLmpO_);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-4KFnQNr1Feyy);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-hGudUBJpUF9W);
  outline-offset: 1px;
  outline-color: var(--token-33ZNGBSlEo4U);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-SOqrm-qQablj);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-6SKTUhvLoVUY);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-mmNsZLzF1DOB);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-8wGPe5-nbDt9);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-o88OmZRlmfTh);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-g8eFyCQvJioW);
  font-size: var(--token-f-tTL8MvTKxs);
  column-gap: var(--token-hGudUBJpUF9W);
  row-gap: 0px;
  border-radius: var(--token-YYZux-LbxwoA);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-f-tTL8MvTKxs);
  line-height: var(--token-g8eFyCQvJioW);
  column-gap: var(--token-YYZux-LbxwoA);
  row-gap: 0px;
  border-radius: var(--token-YYZux-LbxwoA);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-OHYB8lBRlgTA);
  line-height: var(--token-ojFl87ywQvR0);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-OHYB8lBRlgTA);
  line-height: var(--token-ojFl87ywQvR0);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-1TuylvUzyo9R);
  border-radius: var(--token-4KFnQNr1Feyy);
}
.softBackgroundcolor_neutral {
  background: var(--token-Lcg3f3gfqPIu);
}
.softBackgroundcolor_muted {
  background: var(--token-Z30lRMgbL3CV);
}
.softBackgroundcolor_success {
  background: var(--token-EO53FJ7uVw5z);
}
.softBackgroundcolor_warning {
  background: var(--token-Ulca6CdsOHa6);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-04_3aSicFzTF);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-4KFnQNr1Feyy);
  border: 0px solid var(--token-le2kND3MIfKM);
}
.bordercolor_neutral {
  border-color: var(--token-19zqJZHbTkQb);
}
.bordercolor_muted {
  border-color: var(--token-DZ60eK7nQWNg);
}
.bordercolor_success {
  border-color: var(--token-W45Z0BJI-F90);
}
.bordercolor_warning {
  border-color: var(--token-o7wMFg7k1lDN);
}
.bordercolor_errorDestructive {
  border-color: var(--token-mG-Fmcz83zq8);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-4KFnQNr1Feyy);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-Je6JwcubNADO);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-IcNQzB9OmX45);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-bqRVXqWA0SaV);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__htReg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-4KFnQNr1Feyy);
  min-width: 0;
  min-height: 0;
  padding: var(--token-4KFnQNr1Feyy) var(--token-K-1NhXn2TSI6);
}
.freeBoxsize_extraSmall__htRegscqZw {
  padding: var(--token-YYZux-LbxwoA) var(--token-4KFnQNr1Feyy);
}
.freeBoxsize_small__htRegrqABg {
  padding: var(--token-4KFnQNr1Feyy) var(--token-iHVFlCVMjtHs);
}
.freeBoxsize_large__htReg3Xxbm {
  padding-top: var(--token-YYZux-LbxwoA);
  padding-bottom: var(--token-YYZux-LbxwoA);
}
.freeBoxsize_extraLarge__htRegp8Nn3 {
  padding-left: var(--token-La17AmF-rQ0g);
  padding-right: var(--token-La17AmF-rQ0g);
}
.freeBoxroundedFull__htRegdvsvz {
  padding-right: var(--token-La17AmF-rQ0g);
  padding-left: var(--token-La17AmF-rQ0g);
}
.freeBox__ywABm {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__ywABmEnKki {
  display: flex;
}
.slotTargetStart {
  color: var(--token-ixPt3EXuEb6k);
}
.slotTargetStartcolor_neutral {
  color: var(--token-QQSoHTFrwAGi);
}
.slotTargetStartcolor_muted {
  color: var(--token-0s22QbBFVFCb);
}
.slotTargetStartcolor_success {
  color: var(--token-GyQPLVOnGfxT);
}
.slotTargetStartcolor_warning {
  color: var(--token-xIte7N09di4V);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-Fe0o9plL98Qs);
}
.slotTargetStarttype_soft {
  color: var(--token-Q34Vi2dFgI8d);
}
.slotTargetStarttype_bordered {
  color: var(--token-Q34Vi2dFgI8d);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-f-tTL8MvTKxs);
}
.slotTargetStartsize_small {
  font-size: var(--token-f-tTL8MvTKxs);
}
.slotTargetStartsize_large {
  font-size: var(--token-OHYB8lBRlgTA);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-OHYB8lBRlgTA);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-46M_khU3hLoa);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-46M_khU3hLoa);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-E2bO3rPEzNOA);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-E2bO3rPEzNOA);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-gosz4gX5U_6a);
}
.slotTargetStartcolor_success_type_bordered {
  color: var(--token-gosz4gX5U_6a);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-QFz5c_1k9jsD);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-QFz5c_1k9jsD);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-_p9-ziBHWrf-);
}
.slotTargetStartcolor_errorDestructive_type_bordered {
  color: var(--token-_p9-ziBHWrf-);
}
.svg__xLcuC {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-ixPt3EXuEb6k);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-QQSoHTFrwAGi);
}
.slotTargetLabelcolor_muted {
  color: var(--token-0s22QbBFVFCb);
}
.slotTargetLabelcolor_success {
  color: var(--token-GyQPLVOnGfxT);
}
.slotTargetLabelcolor_warning {
  color: var(--token-xIte7N09di4V);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-Fe0o9plL98Qs);
}
.slotTargetLabeltype_soft {
  color: var(--token-Q34Vi2dFgI8d);
}
.slotTargetLabeltype_bordered {
  color: var(--token-Q34Vi2dFgI8d);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-46M_khU3hLoa);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-E2bO3rPEzNOA);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-46M_khU3hLoa);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-gosz4gX5U_6a);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-E2bO3rPEzNOA);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-QFz5c_1k9jsD);
}
.slotTargetLabelcolor_success_type_bordered {
  color: var(--token-gosz4gX5U_6a);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-_p9-ziBHWrf-);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-QFz5c_1k9jsD);
}
.slotTargetLabelcolor_errorDestructive_type_bordered {
  color: var(--token-_p9-ziBHWrf-);
}
.text__apGbi {
  white-space: pre;
}
.freeBox__akxgX {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__akxgXXdqg {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-ixPt3EXuEb6k);
}
.slotTargetEndcolor_neutral {
  color: var(--token-QQSoHTFrwAGi);
}
.slotTargetEndcolor_muted {
  color: var(--token-0s22QbBFVFCb);
}
.slotTargetEndcolor_success {
  color: var(--token-GyQPLVOnGfxT);
}
.slotTargetEndcolor_warning {
  color: var(--token-xIte7N09di4V);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-Fe0o9plL98Qs);
}
.slotTargetEndtype_soft {
  color: var(--token-Q34Vi2dFgI8d);
}
.slotTargetEndtype_bordered {
  color: var(--token-Q34Vi2dFgI8d);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-f-tTL8MvTKxs);
}
.slotTargetEndsize_small {
  font-size: var(--token-f-tTL8MvTKxs);
}
.slotTargetEndsize_large {
  font-size: var(--token-OHYB8lBRlgTA);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-OHYB8lBRlgTA);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-46M_khU3hLoa);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-46M_khU3hLoa);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-E2bO3rPEzNOA);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-E2bO3rPEzNOA);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-gosz4gX5U_6a);
}
.slotTargetEndcolor_success_type_bordered {
  color: var(--token-gosz4gX5U_6a);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-QFz5c_1k9jsD);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-QFz5c_1k9jsD);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-_p9-ziBHWrf-);
}
.slotTargetEndcolor_errorDestructive_type_bordered {
  color: var(--token-_p9-ziBHWrf-);
}
.svg__ds5Zb {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
