.ariaDialogTrigger:global(.__wab_instance) {
  position: relative;
}
.button__dTv1I:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.svg__qov {
  position: relative;
  height: 1em;
}
.svg__ztkh6 {
  position: relative;
  height: 1em;
}
.ariaPopover:global(.__wab_instance) {
  font-family: var(--token-IIW4cqejOqNa);
  font-size: var(--token-EynN12Octgk8);
  color: var(--token-bTkW1E14Snyv);
  line-height: var(--token-y26cgEkLmpO_);
  box-shadow: 0px 0px 20px 0px #00000040;
  border-radius: var(--token-La17AmF-rQ0g);
}
.ariaDialog:global(.__wab_instance) {
  object-fit: cover;
  outline-style: none;
}
.freeBox__mq2Yk {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  background: var(--token-Y3YqilnWxqxd);
  align-items: flex-start;
  width: 320px;
  row-gap: var(--token-iHVFlCVMjtHs);
  border-radius: var(--token-La17AmF-rQ0g);
  padding: var(--token-9GiC8u_O5MWv);
}
.text__xULhR {
  position: relative;
}
.text__zAXxF {
  position: relative;
  font-weight: 500;
}
.text__mSd3Y {
  position: relative;
}
