.ariaRadioGroup:global(.__wab_instance) {
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: var(--token-YYZux-LbxwoA);
  min-width: 0;
}
.ariaRadioGroup[data-disabled]:global(.__wab_instance) {
  opacity: 0.5;
}
.freeBox__vw93T {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: var(--token-YYZux-LbxwoA);
}
.radio__mgNwP:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__kQqf:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.radio__us3Ex:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.description:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
